<div class="form-background" (click)="toCards()">
    <form class="create-update-form" [formGroup]="form" (click)="$event.stopPropagation()">
        <div class="form-group">
            <input class="form-image-input" #file 
                type="file" 
                accept="image/*"    
                [disabled]="uploading"           
                (change)="uploadImage(file.files)">
            <img class="form-image" 
                src={{icon}} 
                ngbTooltip="Upload"
                alt="icon"
                (click)="file.click()">
        </div>
        <div class="form-group">
            <label class="create-form-label" for="leaguename">League name</label>
            <input class="form-create-name" id="leaguename" type="text" formControlName="leaguename">
        </div>
        <div class="form-group">
            <label class="create-form-label" for="country">Country</label>
            <input class="form-create-name" id="country" type="text" formControlName="country">
        </div>

        <div class="form-button-group">
            <button class="form-btn" (click)="clear()">Clear</button>
            <button class="form-btn" #submitButton type="submit" (click)="submit()">Submit</button>
        </div>
    </form>
</div>