<nav class="navbar">
    <h1 class="main-icon"><span>S</span>occerStats</h1>
    <ul class="items">
        <li routerLinkActive="active">
            <a [routerLink]="['/leagues']">Leagues</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/teams']">Teams</a>
        </li>
        <div class="registration-block">
            <li routerLinkActive="active">
                <a class="register" [routerLink]="['/register']">Register</a>/
                <a class="login" [routerLink]="['/login']">Login</a>
            </li>
            <li>
                <a (click)="auth.logout()">Logout</a>
            </li>
        </div>
    </ul>
</nav>