.navbar {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  padding-left: 2em;
  padding-top: 1em;
  align-items: baseline;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--main-bg);
  color: var(--main-text-color);
}

.main-icon {
  line-height: 1;
  font-size: 34px;
  cursor: pointer;
  span {
    font-size: 1.2em;
  }
}

.items {
  display: flex;
  flex: 1 1 auto;
  margin-left: 1.5em;
  height: 100%;
  list-style-type: none;
  font-size: 1.2em;
  cursor: pointer;

  & > .registration-block {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
  }

  li {
    position: relative;
    & > a {
      display: inline-block;
      padding: 1.5em;
      text-decoration: none;
      color: inherit;
    }

    & > a.register {
      padding-right: 0;
    }

    & > a.register:hover {
      text-decoration: underline;
    }
    & > a.login {
      padding-left: 0;
    }
    & > a.login:hover {
      text-decoration: underline;
    }
    &:hover {
      background: var(--ouline-color);
      background: linear-gradient(
        0deg,
        rgba(185, 74, 0, 0.5) 0%,
        rgba(185, 74, 0, 0.1) 60%,
        rgba(185, 74, 0, 0) 100%
      );
    }
    &:hover::after {
      display: block;
      content: "";
      background: #ff7403;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
    }
  }
}

.active {
  background: var(--ouline-color);
  background: linear-gradient(
    0deg,
    rgba(185, 74, 0, 0.5) 0%,
    rgba(185, 74, 0, 0.1) 60%,
    rgba(185, 74, 0, 0) 100%
  );
  &::after {
    display: block;
    content: "";
    background: #ff7403;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}
