<div class="form-background" (click)="toCards()">
    <form class="create-update-form" [formGroup]="form" (click)="$event.stopPropagation()">
        <div class="form-group">
            <img class="form-image" 
                src={{icon}} 
                alt="icon"
                (click)="file.click()">
            <input class="form-image-input" 
                type="file" 
                id="leagueimage"
                #file
                accept="image/*"
                [disabled]="uploading"
                (change)="uploadImage(file.files)">
        </div>

        <div class="form-group">
            <label class="create-form-label" for="teamname">Team name</label>
            <input class="form-create-name" id="teamname" type="text" formControlName="teamname">
        </div>

        <div class="form-group">
            <label class="create-form-label" for="league">League</label>
            <select class="form-create-name" formControlName="leaguename">
                <option *ngFor="let l of leagues" [value]="l.id">{{ l.name }}</option>
            </select>
        </div>

        <div class="form-button-group">
            <button class="form-btn" (click)="clear()">Clear</button>
            <button class="form-btn" #submitButton (click)="submit();" type="submit">Submit</button>
        </div>
    </form>
</div>