<div class="form-background" (click)="toCards()">
    <form class="create-update-form" [formGroup]="form" (click)="$event.stopPropagation()">
        <div class="form-group">
            <img class="form-image" 
                #leagueImage
                src="" 
                alt="icon"
                (click)="file.click()">
            <input class="form-image-input" 
                type="file"
                accept="image/*" 
                #file
                (change)="uploadImage(file.files)"
                [disabled]="uploading">
        </div>
        <div class="form-group">
            <label class="create-form-label" for="leaguename">League name</label>
            <input class="form-create-name" id="leaguename" type="text" formControlName="leaguename">
        </div>
        <div class="form-group">
            <label class="create-form-label" for="country">Country</label>
            <input class="form-create-name" id="country" type="text" formControlName="country">
        </div>

        <div class="form-button-group">
            <button class="form-btn" (click)="clear()">Clear</button>
            <button class="form-btn" #submitButton (click)="submit()">Update</button>
        </div>
    </form>
</div>