<div class="container">
    <table class="table standings" >
        <tr *ngFor="let s of standings">
            <td>{{s.date | date: 'EEEE, d MMMM y'}}</td>
            <td>{{s.date | date: 'HH:mm'}}</td>
            <td>{{s.league.name}}</td>
            <td class="status"><span [ngClass]="{live: s.status.toString() == '1'}">{{s.status | status}}</span></td>
            <td class="team-row">
                <div class="team">
                    <img src={{s.homeTeam.imageUrl}} alt="teamA">
                    <a href="">{{s.homeTeam.name}}</a>
                </div>
            </td>
            <td>-</td>
            <td class="team-row">
                <div class="team">
                    <img src={{s.awayTeam.imageUrl}} alt="teamB">
                    <a href="">{{s.awayTeam.name}}</a>
                </div>
            </td>
            <td>1 : 0 (0 : 0)(0 : 0)</td>
        </tr>
        

    </table>
</div>
<button class="btn-add" type="button" [routerLink]="['/admin/standings/create']"></button>