<div class="container">
    <table class="table">
        <tr>
            <td>12.12.2022</td>
            <td>12:00</td>
            <td class="status"><span>SCHEDULED</span></td>
            <td class="team-row">
                <div class="team">
                    <img src="../../assets/img/bayer.png" alt="teamA">
                    <a href="">Bayern</a>
                </div>
            </td>
            <td>-</td>
            <td class="team-row">
                <div class="team">
                    <img src="../../assets/img/bayer.png" alt="teamB">
                    <a href="">Juventus</a>
                </div>
            </td>
            <td>1 : 0 (0 : 0)(0 : 0)</td>
        </tr>
        <tr>
            <td>12.12.2022</td>
            <td>12:00</td>
            <td class="status"><span class="live">LIVE</span></td>
            <td class="team-row">
                <div class="team">
                    <img src="../../assets/img/bayer.png" alt="teamA">
                    <a href="">Bayern</a>
                </div>
            </td>
            <td>-</td>
            <td class="team-row ">
                <div class="team">
                    <img src="../../assets/img/bayer.png" alt="teamB">
                    <a href="">Juventus</a>
                </div>
            </td>
            <td>1 : 0 (0 : 0)(0 : 0)</td>
        </tr>
        <tr>
            <td>12.12.2022</td>
            <td>12:00</td>
            <td class="status"><span>PAUSED</span></td>
            <td class="team-row">
                <div class="team">
                    <img src="../../assets/img/Bundesliga.png" alt="teamA">
                    <a href="">PSG</a>
                </div>
            </td>
            <td>-</td>
            <td class="team-row">
                <div class="team">
                    <img src="../../assets/img/England.jpg" alt="teamB">
                    <a href="">Manchester United</a>
                </div>
            </td>
            <td>1 : 0 (0 : 0)(0 : 0)</td>
        </tr>

    </table>
</div>